.title {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.iTxt:focus {
    width: 260px;
    border-color: #93a889;
}

.iBtn {
    padding: 14px 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.iBtn:hover {
    background-color: #93a889;
}
