@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.7);
}

html, body, #root, .full-height {
  min-height: 100vh;
}

body {
  background-color: #091008;
}

.box {
  width: 350px;
  padding: 40px;
  background: #1f2f22;
  color: #f1faee;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

.input {
  border: 2px solid #3e563e;
  border-radius: 24px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  outline: none;
  color: white;
  transition: 0.4s;
}

.iTxt {
  padding: 14px 10px;
  width: 200px;
}

.iOthers {
  border: 2px solid #3e563e;
  border-radius: 24px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  outline: none;
  color: white;
  padding: 14px 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.iOthers option{
  color: black;
}