* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.fw {
  min-width: 100%;
}

.fh {
  min-height: 100vh;
}

.full {
  min-width: 100%;
  min-height: 100vh;
}

/* CSS FORMULÁRIOS */
.box {
  width: 350px;
  padding: 40px;
  background: #16181b;
  color: #f1faee;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

.input {
  border: 2px solid #2C3237;
  border-radius: 24px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  outline: none;
  color: white;
  transition: 0.4s;
}

.iTxt {
  padding: 14px 10px;
  width: 200px;
}

.iOthers {
  border: 2px solid #3e563e;
  border-radius: 24px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  outline: none;
  color: white;
  padding: 14px 40px;
}

.iOthers option{
  color: black;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
}

.iTxt:focus {
  width: 260px;
  border-color: #434b53;
}

.iBtn {
  padding: 14px 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.iBtn:hover {
  background-color: #434b53;
}
